<%- include("partials/header.ejs", {cuisines: cuisineList}) %>
   <div class="container-fluid col-xxl-8 px-4 py-5 d-flex align-items-center">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
   <div class="col-10 col-sm-8 col-lg-6"> <img src="./images/cupcake.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> </div>
   <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hi <%= userName %></h1>
      <p class="lead">Effortlessly explore and generate hundreds of unique recipes with this powerful recipe generator. Powered by a robust API, this platform lets you discover dishes across a variety of cuisines — from Indian to Italian to Korean — all at the tap of a button. Whether you're cooking with specific ingredients or craving something new, our smart recipe engine delivers endless inspiration, instantly.</p>
   </div>
</div>
   </div>
<%- include("partials/footer.ejs") %>